<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group2.cafejava.mapper.OrderMapper">
    <select id="selectOrderPage" resultType="Order">
        select * from order1
        <where>
            <if test="keyword !=null and keyword !=' a' ">
                or order_id like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <select id="selectOrderPageOneCustomer" resultType="Order">
        select * from order1
        <where>
            <if test="keyword !=null and keyword !='' ">
                or order_customer_id = #{keyword}
            </if>
        </where>
    </select>
    <select id="selectOrder" resultType="Order">
        select * from order1
        <where>
            <if test="keyword !=null and keyword !='' ">
                or user_id like = #{keyword}
            </if>
        </where>
    </select>
</mapper>
